$pref : "e-scheme";
.#{$pref} {
	$v_line_th:    1px;
	$h_line_th:    1px;
	$link_line_th: 1px;
	$h_line_indents: 1px;
	$bottom_descr_frame_pad : 5px;
	$v_line_color:    #999;
	$h_line_color:    #999;
	$link_line_color: #999;
	// $descr_color:     #999;
	font-size: 14px;
	white-space: nowrap;
	color: #999;
	margin: 20px 5px;
	padding: 20px 5px;
	user-select: none;
	
	&.executed *{
		display: inline-block;
		text-align: center;
	}

	&:not(.executed) {
		font-family: monospace;
		white-space: pre;
		text-align: left;
	}

	.#{$pref}-part {
		border-right: $v_line_th solid transparent;
		border-left: $v_line_th solid transparent;
		margin-right: -$v_line_th;
		.#{$pref}-grid-v-liner {
			margin: 0 $h_line_indents;
			margin-top: 5px;
			display: block;
			height: 50px;
			border-top: $h_line_th solid transparent;
			// border-bottom: $h_line_th solid transparent;


		}
		.#{$pref}-description {
			&:hover {
				user-select: text;
			}
		}
		.#{$pref}-top-descr {
			border-top-color: $h_line_color; 
			.#{$pref}-td-block {
				position: relative;
				// bottom: 50%;
				top: -50%;
				background-color: #fff;
				padding: 0 5px;
				// border: 1px solid $h_line_color;
				height: 100%;
				// display: table-cell;
				vertical-align: middle;
				display: inline-flex;
				align-items: center;
			}
		}
		.#{$pref}-line-text {
			font-size: 25px;
			font-weight: bold;
			color: #777;
			white-space: pre;
			background-clip: padding-box;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			margin: -1px;
			margin-top: 5px;
			font-family: consolas;
			user-select: text;
		}
		.#{$pref}-bottom-rel-wr {
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			border-color: $v_line_color;
			padding: 5px $h_line_indents;
			margin: -1px;
			display: block;
			.#{$pref}-bottom-rel {
				display: block;
				position: relative;
				border-bottom: $link_line_th solid $link_line_color;
				>.#{$pref}-rel-line {
					position: absolute;
					width: 10px;
					border-left: $link_line_th solid $link_line_color;
					border-bottom: $link_line_th solid $link_line_color;
					padding-bottom: calc(#{$bottom_descr_frame_pad} + .5em);
					>.#{$pref}-bottom-descr {
						position: absolute;
						left: 100%;
						white-space: pre;
						border: $link_line_th solid $link_line_color;
						text-align: left;
					}
				}
			}
		}
	}
	.#{$pref}-part.show-borders {
		border-color: $v_line_color;
		.sps-line-text{
			border-color: $v_line_color;
		}
	}
	.#{$pref}-grid-v-liner+.#{$pref}-part {
		margin-left: -$v_line_th;
	}
	.#{$pref}-grid-bv-liner {
		padding: $bottom_descr_frame_pad;
		border: $link_line_th + 3 solid transparent;
		display: block;
	}
}